$npsClients = Get-NpsRadiusClient
$changed = $false

{% for host in groups%}
{% for key in host%}
if($npsClients -ne {{ key }})
{
    New-NpsRadiusClient -address "{{ key.ansible_host }}" -name "{{ key }}" -sharedsecret "BmEYRA3Y"
    $changed = $true
}

{% endfor %}
{% endfor %}