$npsClients = Get-NpsRadiusClient
$changed = $false

{% for value in groups%}
if($npsClients -ne {{ value }})
{
    New-NpsRadiusClient -address "{{ value.ansible_host }}" -name "{{ value }}" -sharedsecret "BmEYRA3Y"
    $changed = $true
}

{% endfor %}