$npsClients = Get-NpsRadiusClient
$changed = $false

{% for key, value in groups.iteritems() %}

if($npsClients -ne {{ key }} -and vale.ansible_host -ne $null)
{
    New-NpsRadiusClient -address "{{ value.ansible_host }}" -name "{{ key }}" -sharedsecret "BmEYRA3Y"
    $changed = $true
}

{% endfor %}
