{% if 'AccSW' in group_names %}

{% for key,value in vlans|dictsort %}
vlan {{ value.id }}
 name {{ key }}
{% endfor %}

{% endif %}

{# source in inspiration https://enableconfig.wordpress.com/2017/05/01/ansible-automate-cisco-lan-switching-configuration-part-1/ #}