spanning-tree mode rapid-pvst
{#spanning-tree portfast edge default
spanning-tree portfast edge bpduguard default
#}

{% if 'DisSW' in group_names %}

{% for key,value in vlans|dictsort %}
{% if value.root == inventory_hostname %}
spanning-tree vlan {{ value.id }} priority 4096
{% else %}
spanning-tree vlan {{ value.id }} priority 8192
{% endif %}
{% endfor %}

{% endif %}